<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header") %>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <h1>Sign Up</h1>
</body>
</html>
